.App {
  text-align: center;
  /* margin: 1 5rem; */
  background-color: #0b2036;
}
.section-one{
  height: 100vh; /* Full screen height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('resim.gif'); 
  background-size: cover;
  background-position: center bottom;
  color: white;
}
.welcome-header h1{
  font-size: 10vh;
  
}
.welcome-header p{
  margin-bottom: 20vh;
  letter-spacing: 3px;
}
.section-two {
  justify-content: center;
  height: 70vh;
  /*margin-top: 30vh;  Bu sayfayı uzatıyor */
  color: #fff;
}
.Options, .over{
  margin-top: 30vh;
}
.Options p{
  margin: 0 1rem;
  
}
.option-btn{
  height: 5rem;
  width: 30%;
  margin: 3rem 3rem;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border-radius: 1rem;
}

.option-btn:hover{
  background-color: #ffc581;
  box-shadow: 0px 15px 20px #fff;
  color: #8d0c0d;
  transform: translateY(-7px);
  font-weight: bold;
  /* transition-duration: 1s; */
}

.next-btn, .restart-btn{
  height: 3rem;
  width: 20%;
  letter-spacing: 2.5px;
  color:#000;
  /* align-items: end !important; */
  background: linear-gradient(to left, #fff 50%, greenyellow 50%) right;
  background-size: 200%;
  transition: .5s ease-out;
  cursor: pointer;
  border-radius: 1rem;
}

.next-btn:hover, .restart-btn:hover{
  background-position: left;
}

.restart-btn{
  margin: 5vh;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
